POSTGRES_IMAGE=postgres:18

POSTGRES_DB=metadata_db
POSTGRES_USER=postgres
POSTGRES_PASSWORD_FILE=/run/secrets/db_admin_password

APP_DB=metadata_db
APP_USER=capstone_app
APP_PASSWORD_FILE=/run/secrets/db_app_password

DB_PORT=5432
DATA_ROOT=data